@import url(http: //fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(http: //fonts.googleapis.com/css?family=Lobster);

body {
	font: 300 14px/1.8 'Raleway', sans-serif;
	color: #666;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #E7746F;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: 700 40px/1.2 Raleway, sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 5px 0 5px;
	color: #222;
}

h2 {
	font-size: 30px;
	margin: 0 0 30px;
}

h3 {
	font-size: 13px;
	letter-spacing: 1px;
	margin: 0 0 5px;
}

h4 {
	font-size: 12px;
	letter-spacing: 1px;
}

h5 {
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 400;
}

h6 {
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 400;
}

.home {
	background: url(../images/cover.jpg);
	width: 100%;
	height: 655px;

	background-color: #222;
	background-attachment: fixed;
	background-repeat: no-repeat;

	background-size: 100% 655px;
	padding: 0;

}

.home-overlay {
	background-color: rgba(44, 62, 80, 0.3);
	background-image: url("../images/pattern.png");
	background-repeat: repeat;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.home-title {
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-size: 18px;
	font-style: normal;
	text-transform: none;
	margin: 15px 0;
	font-weight: 600;

}

.cover-title {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
	padding: 0 15px;
	color: white;
}

.career {
	color: white;
}

.cover-title h1 {
	font-weight: 800;
}

.home-title1 {
	font-size: 18px;
	color: #FF7043;
}

scroll-up {
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 2em;
	right: 2em;
}

.scroll-up a {
	background-color: rgba(135, 135, 135, 0.5);
	display: block;
	width: 35px;
	height: 35px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
}

.scroll-up a:hover,
.scroll-up a:active {
	background-color: rgba(235, 235, 235, .8);
	color: #e7746f;
}

/* ---------------------------------------------- /*
 *Scroll Down
/* ---------------------------------------------- */

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: -15px;
	display: block;
	z-index: 10;
	text-align: center;
}

.scroll-down span {
	position: relative;
	color: #fff;
	-webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@-webkit-keyframes drop {
	0% {
		top: 0px;
		opacity: 0;
	}

	30% {
		top: 10px;
		opacity: 1;
	}

	100% {
		top: 25px;
		opacity: 0;
	}
}

@keyframes drop {
	0% {
		top: 0px;
		opacity: 0;
	}

	30% {
		top: 10px;
		opacity: 1;
	}

	100% {
		top: 25px;
		opacity: 0;
	}
}


/* navbar start   */

.header {
	border-bottom: 1px solid #f5f5f5;
	position: relative;
	width: 100%;
	z-index: 998;
}

.navbar-custom {
	border: 0;
	border-radius: 0;
	margin: 0;
	text-transform: uppercase;
	font-family: Raleway, sans-serif;
}

.navbar-custom,
.navbar-custom .dropdown-menu {
	background: #FF7043;
	padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav>li>a,
.navbar-custom .navbar-nav .dropdown-menu>li>a {
	font-size: 11px;
	letter-spacing: 2px;
	color: #111;
	padding: 10px 11px;
}

.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav>li.active a {
	background: none;
	outline: 0;
	color: #fff;
}

.navbar-custom .navbar-brand {
	font-weight: 700;
	font-size: 22px;
	font-family: Lobster, cursive;
}

.navbar-custom .dropdown-menu {
	border: 0;
	border-top: 2px solid #E7746F;
	border-radius: 0;
}

.navbar-custom .dropdown-menu>li>a {
	padding: 10px 20px;
}

.navbar-custom .nav .open>a,
.navbar-custom .dropdown-menu>li>a:hover,
.navbar-custom .dropdown-menu>li>a:focus {
	background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #222;
}


/* navbar end   */




/* artical  start   */


.artical1 {
	background: #f5f5f5;
	padding: 80px 0 100px;

}

.title {
	border-bottom: 1px solid #FF7043;
	text-align: center;
	padding: 40px 20px;
	margin: 0 0 20px;
	font-weight: 800;
	font-size: 32px;
	border-width: thin;
}

.title-sub {
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-style: normal;
	font-size: 18px;
	text-align: center;
}

.content {
	padding: 100px;

}

.artical2 {
	padding-top: 20px;
}

.artical2 h3 {
	color: #FF7043;
	font-family: Raleway, "Times New Roman", Times, sans-serif;
}


.discover-title {
	border-bottom: 1px solid #FF7043;
	text-align: center;
	padding: 50px 20px;
	margin: 0 0 20px;
	font-weight: 800;
	font-size: 32px;
	border-width: thin;
}

.discover-subtitle {
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-style: normal;
	font-size: 18px;
	text-align: center;
}


/* artical start   */

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	width: 100%;
	display: block;
	height: 300px;
	max-width: 100%;
	opacity: 0.8;
	border-radius: 25px;

}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption>a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 400;
	font-size: 22px;

}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
	width: 50%;
	background: white;
	border-radius: 100px;
	margin-left: 100px;
	margin-top: 10px;
	color: gray;
}

/*---------------*/
/***** vedios *****/
/*---------------*/

figure.effect-bubba {
	background: #9e5406;
	border-radius: 25px;
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
}

figure.effect-bubba h2 {
	padding-top: 10%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
	color: #fff;
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}


.btn {
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 8px 26px;
	border: 0;
}



.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
	outline: inherit !important;
}

/* Button size */

.btn-lg,
.btn-group-lg>.btn {
	padding: 10px 25px;
	font-size: 13px;
	background: rgba(17, 17, 17, 0.8);
	color: #fff;

}

.btn-lg:hover,
.btn-group-lg>.btn:hover {
	background: rgba(17, 17, 17, 1.8);
	color: #fff;
}

.btn-sm,
.btn-group-sm>.btn {
	padding: 6px 25px;
	font-size: 11px;
}

.btn-xs,
.btn-group-xs>.btn {
	padding: 5px 25px;
	font-size: 10px;
}

.btn .icon-before {
	margin-right: 6px;
}

.btn .icon-after {
	margin-left: 6px;
}

.contact-header h2 {
	text-align: center;
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-style: normal;
	font-size: 38px;
	font-weight: 800;
	border-bottom: solid 1px #FF7043;
}

.container1 {
	padding-top: 80px;

}


/* footer start   */



#footer {
	background: #222;
	text-align: center;
	padding: 50px 0;
	color: #FFF;
	margin-top: 50px;
}

.copyright {
	margin: 0;
}

.copyright a {
	border-bottom: 1px dotted #fff;
}

#footer span {
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	color: #ff5252;
}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
}

.social-links li {
	display: inline-block;
	margin: 5px;
}

.social-links a {
	width: 36px;
	height: 36px;
	display: block;
	line-height: 35px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.521);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.63);
}

.social-links a:hover {
	border: 1px solid rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}




/* footer end  */


/* card start   */

#popular-topic {
	background: #f5f5f5;
	padding-top: 70px;
}


.row {
	display: inline-block;
	width: 100%;
	background: ##f5f5f5;


}

.col-1-of-3 {
	float: left;

	padding-left: 50px;
	margin: 40px;
	width: 100%;
}

.row .col-1-of-3 {
	width: calc((100% - 2 * 5rem) / 3.7);
}

.card {
	perspective: 150rem;
	position: relative;
	height: 40rem;

}

.cardf {
	height: 40rem;
	background-color: white;
	transition: all .8s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.cardb {
	height: 40rem;
	transition: all .8s ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	backface-visibility: hidden;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
	transform: rotateY(180deg);
	font-family: Raleway, "Times New Roman", Times, sans-serif;
}

.cardb__color1 {
	background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
	color: white;
}

.cardb__color2 {
	background-image: linear-gradient(to right bottom, #7ed56f, #28b485);

}

.cardb__color3 {
	background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}


.card:hover .cardf {
	transform: rotateY(-180deg);
}

.card:hover .cardb {

	transform: rotateY(0);
}

.card-picture {
	background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../images/sci.jpg);
	background-size: cover;
	height: 18rem;
	background-blend-mode: screen;

	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.card-details {
	padding: 1rem;
}

.card-details ul {
	list-style: none;
	width: 80%;
	margin: 0 auto;
}

.card-details ul li {
	text-align: center;
	font-size: 1.5rem;
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	padding: 0;
}

.card-details ul li:not(:last-child) {
	border-bottom: 1px solid #eee;
}

.card-heading {
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: right;
	color: white;
	position: absolute;
	top: 12rem;
	right: 1rem;
	width: 75%;
	font-family: Raleway, "Times New Roman", Times, sans-serif;

}

.card-sci {
	background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}

.card-com {
	background-image: linear-gradient(to right bottom, #7ed56f, #28b485);


}

.card-arts {
	background-image: linear-gradient(to right bottom, #2998ff, #5643fa);

}

.card-cta {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	text-align: center;
}

.card-price-box {
	text-align: center;
	color: #fff;
	margin-bottom: 8rem;
}

.card-price-value {
	font-size: 50px;
}

.card-picture1 {
	background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/commerce.jpeg);
	background-size: cover;
	height: 18rem;
	background-blend-mode: screen;

	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.card-picture2 {
	background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/arts.jpg);
	background-size: cover;
	height: 18rem;
	background-blend-mode: screen;

	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}




/* card end   */




/* btn start   */

.btn {

	color: #777;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 40px;
	display: inline-block;
	margin-top: 10px;
	border-radius: 100px;
	transition: all .2s;
	position: relative;
	animation: moveInBottom;
	background: #fff;
	font-family: Raleway, "Times New Roman", Times, sans-serif;
}

btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
	background-color: #fff;
}

.btn:hover::after {
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}


.btn-discover {
	background: #FF7043;
	margin-left: 38%;
	color: white;
	animation-duration: 2s;
}

.btn-discover::after {
	background: #FF7043;
}


/* btn end  */


.card-details p {
	font-size: 15px;
	color: rgb(140, 168, 221);
	text-align: center;
	font-weight: 600;
}